<a href="{{ url }}" style="display: flex; justify-content: center; text-decoration: none; color: #fff; font-weight: 400; min-width: 200px; padding: 8px 16px; border-radius: 4px; background-color: #4285F4;" >
  {{ title }}
</a>
